@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet" type="text/css">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>

<body>

<div id="wrapper"> 

  <div id="header"> 

    <div class="top_banner">
      <h1>Your Application will start in 30 seconds</h1>
      <!--<p>Output is</p>-->
    </div>

  </div>

  <div id="page_content">

    
      <div class="common_content">
        <h2>Output can be seen on Terminal</h2>
        </div>

    <div class="clear"></div>
    
    
  </div>

</div>
</body></html>
